<div class="mt-4 ms-4">
	<h1 class="fs-1 fw-bold">Products</h1>
	<div class="d-flex flex-row flex-wrap mt-5">
		<div *ngFor="let item of list" class="productBox me-3 my-3 px-4 py-4">
			<p class="fw-bold fs-4">{{item.name}}</p>
			<p class="fs-5 fw-bold text-success">$ {{item.price}}</p>
			<p>{{item.description}}</p>
			<button mat-raised-button color="primary" (click)="addToCart(item.id)">Add to cart</button>
		</div>
	</div>
</div>
