<h1 class="fs-1 mt-4 ms-4 fw-bold">Shopping Cart</h1>
<div class="mt-4 mx-4" style="position: relative;">
	<table class="mt-5 table table-striped scroll">
			<thead>
				<tr class="fs-4">
					<th>Nombre</th>
					<th>Price</th>
					<th>Quantity</th>
					<th></th>
				<tr>
			</thead>
			<tbody>
					<tr class="fs-5" my-tr (load)="startLoad()" (loaded)="loadCount()" *ngFor="let item of list" [data]="item"></tr>
			<tbody>
	</table>
	<div class="spinner-box" *ngIf="loading">
		<mat-spinner></mat-spinner>
	</div>
</div>

