<div class="center d-flex flex-column align-items-center">
	<div class="formBox py-5 px-5 mt-5 pt-5 col-12 col-sm-8 col-md-5 col-lg-4 d-flex flex-column">
		<formly-form class="w-100" [form]="registerForm" [fields]="fields"></formly-form>
		<button mat-raised-button class="w-100 mt-5  align-self-center" color="primary" (click)="submit()">Register</button>
		<a routerLink="" class="mt-4">Already have an account ? Log in!</a>

	</div>
</div>
