

ul {
	display: flex;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li button {
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	border: none;
	background: transparent;
	color: white;
	&:hover {
		color: lightgray;
	}
}

a {
	font-size: 25px;
	text-decoration: none;
	color: white;
	&:hover {
		color: lightgray;
	}
}

