<mat-toolbar color="primary" class="d-flex">
	<div class="d-md-none">
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>menu</mat-icon>
		</button>
		<mat-menu #menu>
			<button mat-menu-item routerLink="products">
				Products
			</button>
			<button mat-menu-item routerLink="cart">
				Cart
			</button>
			<button mat-menu-item (click)="signOut()">
				Sing Out
			</button>
		</mat-menu>
	</div>
	<div class="ms-auto me-3 d-none d-md-flex justify-content-center">
		<nav>
			<ul>
				<li class="me-3">
					<a routerLink="products" class="d-flex align-items-center">
						<mat-icon class="me-1">shop</mat-icon>
						<span>Shop</span>
					</a>
				</li>
				<li class="me-3">
					<a routerLink="cart" class="d-flex align-items-center">
						<mat-icon class="me-1">shopping_cart</mat-icon>
						<span>Cart</span>
					</a>
				</li>
				<li>
					<button (click)="signOut()">Sign out</button>
				</li>
			</ul>
		</nav>
	</div>
</mat-toolbar>
