<td>{{name}}</td>
<td>$ {{price}}</td>
<td>{{data.quantity}}</td>
<td>
	<button mat-icon-button (click)="addToCart()" color="primary">
		<mat-icon>add_box</mat-icon>
	</button>
	<button mat-icon-button color="warn" (click)="delete()">
		<mat-icon>delete</mat-icon>
	</button>
</td>
